Repository AizenSousuke/DotNetCoreReactREST, pull requests merged in 2020-03, with the labels that each got.

#8 Testing PR with a Merge Conflict!!
  ClientApp/src/actions/auth.js
  ClientApp/src/components/auth/Login.js
  ClientApp/src/components/auth/LoginForm.js
  ClientApp/src/components/auth/Register.js
  ClientApp/src/components/auth/RegisterForm.js
  ClientApp/src/components/common/CommonModal.js
  ClientApp/src/components/navigation/Navigation.js
  ClientApp/src/reducers/index.js
  ClientApp/src/reducers/modalReducer.js
Labels: enhancement

#13 Backend swagger implementation
  Controllers/CommentsController.cs
  Controllers/LikesController.cs
  Controllers/PostsController.cs
  Controllers/UsersController.cs
  DbContexts/AppDbContext.cs
  DotNetCoreReactREST.csproj
  Dtos/Comment/CommentDto.cs
  Dtos/CommentDto.cs
  Dtos/CommentForCreationDto.cs
  Dtos/CommentForManipulationDto.cs
  Dtos/CommentForUpdateDto.cs
  Dtos/LikeDto.cs
  Dtos/LikeForCreation.cs
  Dtos/PostDto.cs
  Dtos/UserDto.cs
  Dtos/UserForCreationDto.cs
  Dtos/UserForManipulationDto.cs
  Dtos/UserForUpdateDto.cs
  Entities/ApplicationUser.cs
  Entities/Comment.cs
  Entities/Like.cs
  Entities/Post.cs
  Migrations/20200306081521_Initial.Designer.cs
  Migrations/20200306081715_UpdatedPost.cs
  Migrations/20200309141124_Initial.Designer.cs
  Migrations/20200309141124_Initial.cs
  Migrations/AppDbContextModelSnapshot.cs
  Profiles/ApplicationUserProfile.cs
  Profiles/CommentProfile.cs
  Profiles/LikeProfile.cs
  Repositories/CommentRepository.cs
  Repositories/ICommentRepository.cs
  Repositories/ILikeRepository.cs
  Repositories/IPostRepository.cs
  Repositories/IUserRepository.cs
  Repositories/LikeRepository.cs
  Repositories/PostRepository.cs
  Repositories/UserRepository.cs
  ResourceParameters/PostResourceParameter.cs
  Startup.cs
Labels: documentation

#24 Profile Page
  ClientApp/src/App.js
  ClientApp/src/components/blogs/BlogLayout.js
  ClientApp/src/components/common/SmallPanel.js
  ClientApp/src/components/navigation/NavbarPanel.js
  ClientApp/src/components/navigation/Navigation.js
  ClientApp/src/components/profile/ProfileInfo.js
  ClientApp/src/pages/Browse.js
  ClientApp/src/pages/Profile.js
  ClientApp/src/styles/_colors.scss
  ClientApp/src/styles/_text.scss
  ClientApp/src/styles/components/browse.scss
  ClientApp/src/styles/components/index.scss
  ClientApp/src/styles/components/profile.scss
Labels: enhancement

#26 Fixing cascade
  Controllers/UsersController.cs
  DbContexts/AppDbContext.cs
  DotNetCoreReactREST.csproj
  Entities/Comment.cs
  Migrations/20200321080156_Initial.Designer.cs
  Migrations/20200321101043_AddedKey.cs
  Migrations/20200321102625_AddedCascade.Designer.cs
  Migrations/20200321102625_AddedCascade.cs
  Migrations/20200321122108_Initial.Designer.cs
  Migrations/20200321122108_Initial.cs
  Migrations/AppDbContextModelSnapshot.cs
Labels: Fixes
