Repository AizenSousuke/DotNetCoreReactREST, pull requests merged in 2020-04, with the labels that each got.

#38 Added Serilog which writes to a file in log folder
  ClientApp/package-lock.json
  DotNetCoreReactREST.csproj
  Migrations/20200328103400_BogusData.cs
  Program.cs
  Startup.cs
Labels: enhancement

#41 Added pagination with PageSize, PageNumber and SkipOffset
  Repositories/PostRepository.cs
  ResourceParameters/PostResourceParameter.cs
Labels: enhancement

#45 Refactor categories to be async
  Controllers/CategoriesController.cs
  Repositories/CategoryRepository.cs
  Repositories/ICategoryRepository.cs
Labels: Fixes

#43 Added pagination
  Controllers/CategoriesController.cs
  Controllers/CommentsController.cs
  Controllers/PostsController.cs
  Repositories/CategoryRepository.cs
  Repositories/CommentRepository.cs
  Repositories/ICategoryRepository.cs
  Repositories/IPostRepository.cs
  Repositories/PostRepository.cs
  ResourceParameters/PaginationResourceParameter.cs
  ResourceParameters/PostResourceParameter.cs
Labels: Fixes, enhancement

#48 Create label.yml
  .github/labeler.yml
  .github/workflows/label.yml
Labels: enhancement, repo

#49 refactor comments components to async
  Controllers/CommentsController.cs
  Controllers/LikesController.cs
  Controllers/UsersController.cs
  Repositories/CommentRepository.cs
  Repositories/ICommentRepository.cs
Labels: Backend, Fixes

#47 Merge Frontend development to development
  ClientApp/.gitignore
  ClientApp/package.json
  ClientApp/public/index.html
  ClientApp/src/App.js
  ClientApp/src/actions/auth.js
  ClientApp/src/actions/blogActions.js
  ClientApp/src/actions/modal.js
  ClientApp/src/components/Layout.js
  ClientApp/src/components/auth/Login.js
  ClientApp/src/components/auth/LoginForm.js
  ClientApp/src/components/auth/Register.js
  ClientApp/src/components/auth/RegisterForm.js
  ClientApp/src/components/blogs/BlogLayout.js
  ClientApp/src/components/blogs/Comment.js
  ClientApp/src/components/blogs/Printer.js
  ClientApp/src/components/blogs/SingleLayout.js
  ClientApp/src/components/common/CommonModal.js
  ClientApp/src/components/common/SmallPanel.js
  ClientApp/src/components/navigation/Navbar.js
  ClientApp/src/components/navigation/NavbarPanel.js
  ClientApp/src/components/navigation/Navigation.js
  ClientApp/src/components/profile/ProfileInfo.js
  ClientApp/src/index.js
  ClientApp/src/pages/Blog.js
  ClientApp/src/pages/Browse.js
  ClientApp/src/pages/Home.js
  ClientApp/src/pages/Profile.js
  ClientApp/src/reducers/authReducer.js
  ClientApp/src/reducers/blogsReducer.js
  ClientApp/src/reducers/index.js
  ClientApp/src/reducers/modalReducer.js
  ClientApp/src/styles/_animations.scss
  ClientApp/src/styles/_buttons.scss
  ClientApp/src/styles/_colors.scss
  ClientApp/src/styles/_inputs.scss
  ClientApp/src/styles/_misc.scss
  ClientApp/src/styles/_screens.scss
  ClientApp/src/styles/_text.scss
  ClientApp/src/styles/components/blog.scss
  ClientApp/src/styles/components/bloglayout.scss
  ClientApp/src/styles/components/browse.scss
  ClientApp/src/styles/components/comment.scss
  ClientApp/src/styles/components/commonmodal.scss
  ClientApp/src/styles/components/index.scss
  ClientApp/src/styles/components/navbar.scss
  ClientApp/src/styles/components/profile.scss
  ClientApp/src/styles/components/smallpanel.scss
  ClientApp/src/styles/index.scss
  ClientApp/yarn.lock
Labels: help wanted

#46 Merged Backend development to Development
  .github/labeler.yml
  .github/workflows/label.yml
  Controllers/CategoriesController.cs
  Controllers/CommentsController.cs
  Controllers/LikesController.cs
  Controllers/PostsController.cs
  Controllers/UsersController.cs
  Repositories/CategoryRepository.cs
  Repositories/CommentRepository.cs
  Repositories/ICategoryRepository.cs
  Repositories/ICommentRepository.cs
  Repositories/IPostRepository.cs
  Repositories/PostRepository.cs
  ResourceParameters/PaginationResourceParameter.cs
  ResourceParameters/PostResourceParameter.cs
Labels: Backend, repo

#51 API pipeline will auto add content-type headers in case client forget…
  Startup.cs
Labels: Backend, enhancement

#50 Changed some base class to the correct base class for the controllers.
  Controllers/CategoriesController.cs
  Controllers/CommentsController.cs
  Controllers/LikesController.cs
  Controllers/PostsController.cs
  Controllers/UsersController.cs
  Repositories/CategoryRepository.cs
  Repositories/ICategoryRepository.cs
  Repositories/IPostRepository.cs
  Repositories/LikeRepository.cs
  Repositories/PostRepository.cs
  Repositories/UserRepository.cs
Labels: Backend

#52 Backend development
  Controllers/CategoriesController.cs
  Controllers/CommentsController.cs
  Controllers/LikesController.cs
  Controllers/PostsController.cs
  Controllers/UsersController.cs
  Repositories/CategoryRepository.cs
  Repositories/ICategoryRepository.cs
  Repositories/IPostRepository.cs
  Repositories/LikeRepository.cs
  Repositories/PostRepository.cs
  Repositories/UserRepository.cs
  Startup.cs
Labels: Backend

#55 Frontend development to HerokuDeployment branch
  ClientApp/.gitignore
  ClientApp/package.json
  ClientApp/public/index.html
  ClientApp/src/App.js
  ClientApp/src/actions/auth.js
  ClientApp/src/actions/blogActions.js
  ClientApp/src/actions/modal.js
  ClientApp/src/components/Layout.js
  ClientApp/src/components/auth/Login.js
  ClientApp/src/components/auth/LoginForm.js
  ClientApp/src/components/auth/Register.js
  ClientApp/src/components/auth/RegisterForm.js
  ClientApp/src/components/blogs/BlogLayout.js
  ClientApp/src/components/blogs/Comment.js
  ClientApp/src/components/blogs/Printer.js
  ClientApp/src/components/blogs/SingleLayout.js
  ClientApp/src/components/common/CommonModal.js
  ClientApp/src/components/common/SmallPanel.js
  ClientApp/src/components/navigation/Navbar.js
  ClientApp/src/components/navigation/NavbarPanel.js
  ClientApp/src/components/navigation/Navigation.js
  ClientApp/src/components/profile/ProfileInfo.js
  ClientApp/src/index.js
  ClientApp/src/pages/Blog.js
  ClientApp/src/pages/Browse.js
  ClientApp/src/pages/Home.js
  ClientApp/src/pages/Profile.js
  ClientApp/src/reducers/authReducer.js
  ClientApp/src/reducers/blogsReducer.js
  ClientApp/src/reducers/index.js
  ClientApp/src/reducers/modalReducer.js
  ClientApp/src/styles/_animations.scss
  ClientApp/src/styles/_buttons.scss
  ClientApp/src/styles/_colors.scss
  ClientApp/src/styles/_inputs.scss
  ClientApp/src/styles/_misc.scss
  ClientApp/src/styles/_screens.scss
  ClientApp/src/styles/_text.scss
  ClientApp/src/styles/components/blog.scss
  ClientApp/src/styles/components/bloglayout.scss
  ClientApp/src/styles/components/browse.scss
  ClientApp/src/styles/components/comment.scss
  ClientApp/src/styles/components/commonmodal.scss
  ClientApp/src/styles/components/index.scss
  ClientApp/src/styles/components/navbar.scss
  ClientApp/src/styles/components/profile.scss
  ClientApp/src/styles/components/smallpanel.scss
  ClientApp/src/styles/index.scss
  ClientApp/yarn.lock
Labels: Backend, Frontend

#63 Image upload
  Controllers/PostsController.cs
  DotNetCoreReactREST.csproj
  Services/ImageUpload.cs
Labels: Backend

#66 Fix post like issue with get
  Controllers/PostLikesController.cs
  Entities/PostLike.cs
  Repositories/PostLikeRepository.cs
Labels: Backend, Fixes

#70 add image upload func to edit in PostController
  Controllers/PostsController.cs
  Services/ImageUpload.cs
Labels: Backend, enhancement

#71 Fixed post POST setting wrong id in database
  Repositories/PostRepository.cs
  Services/ImageUpload.cs
Labels: Backend, Fixes

#74 Conform guidelines n conventions
  Controllers/CategoriesController.cs
  Controllers/CommentsController.cs
  Controllers/LikesController.cs
  Controllers/PostLikesController.cs
  Controllers/PostsController.cs
  Controllers/UsersController.cs
  DbContexts/AppDbContext.cs
  Dtos/CategoryDto.cs
  Dtos/CategoryForCreationDto.cs
  Dtos/CategoryForManipulationDto.cs
  Dtos/CategoryForUpdateDto.cs
  Dtos/CommentDto.cs
  Dtos/CommentForCreationDto.cs
  Dtos/CommentForManipulationDto.cs
  Dtos/CommentForUpdateDto.cs
  Dtos/LikeDto.cs
  Dtos/LikeForCreation.cs
  Dtos/PostDto.cs
  Dtos/PostLikeDto.cs
  Dtos/UserDto.cs
  Dtos/UserForCreationDto.cs
  Dtos/UserForManipulationDto.cs
  Dtos/UserForUpdateDto.cs
  Entities/ApplicationUser.cs
  Entities/Category.cs
  Entities/Comment.cs
  Entities/Like.cs
  Entities/Post.cs
  Entities/PostLike.cs
  Profiles/ApplicationUserProfile.cs
  Profiles/CategoryProfile.cs
  Profiles/CommentProfile.cs
  Profiles/LikeProfile.cs
  Profiles/PostLikeProfile.cs
  Profiles/PostProfile.cs
  Repositories/CategoryRepository.cs
  Repositories/CommentRepository.cs
  Repositories/ICategoryRepository.cs
  Repositories/ICommentRepository.cs
  Repositories/ILikeRepository.cs
  Repositories/IPostLikeRepository.cs
  Repositories/IPostRepository.cs
  Repositories/IUserRepository.cs
  Repositories/LikeRepository.cs
  Repositories/PostLikeRepository.cs
  Repositories/PostRepository.cs
  Repositories/UserRepository.cs
Labels: Backend

#75 Conform guidelines n conventions
  Controllers/CategoriesController.cs
  Controllers/CommentsController.cs
  Controllers/LikesController.cs
  Controllers/PostLikesController.cs
  Controllers/PostsController.cs
  Controllers/UsersController.cs
  DbContexts/AppDbContext.cs
  Dtos/CategoryDto.cs
  Entities/ApplicationUser.cs
  Migrations/20200328103400_BogusData.cs
  Migrations/20200415155650_AddedPostLikes.cs
  Profiles/CommentProfile.cs
  Program.cs
  Repositories/CategoryRepository.cs
  Repositories/CommentRepository.cs
  Repositories/ICategoryRepository.cs
  Repositories/ICommentRepository.cs
  Repositories/ILikeRepository.cs
  Repositories/IPostLikeRepository.cs
  Repositories/IPostRepository.cs
  Repositories/IUserRepository.cs
  Repositories/LikeRepository.cs
  Repositories/PostLikeRepository.cs
  Repositories/PostRepository.cs
  Repositories/UserRepository.cs
  ResourceParameters/PaginationResourceParameter.cs
  Services/ImageUpload.cs
  Startup.cs
Labels: Backend

#76 Conform guidelines n conventions
  Controllers/CategoriesController.cs
  Controllers/CommentsController.cs
  Controllers/LikesController.cs
  Controllers/PostLikesController.cs
  Controllers/PostsController.cs
  Controllers/UsersController.cs
  DbContexts/AppDbContext.cs
  DotNetCoreReactREST.csproj
  Entities/ApplicationUser.cs
  Entities/Comment.cs
  Entities/Like.cs
  Entities/Post.cs
  GlobalSuppressions.cs
  Migrations/20200328103400_BogusData.cs
  Migrations/20200415155650_AddedPostLikes.cs
  Pages/Error.cshtml.cs
  Profiles/CommentProfile.cs
  Program.cs
  Repositories/CategoryRepository.cs
  Repositories/CommentRepository.cs
  Repositories/LikeRepository.cs
  Repositories/PostLikeRepository.cs
  Repositories/PostRepository.cs
  Repositories/UserRepository.cs
  ResourceParameters/PaginationResourceParameter.cs
  Services/ImageUpload.cs
  Settings.StyleCop
  Startup.cs
Labels: Backend

#80 Conform guidelines n conventions
  Controllers/PostsController.cs
  Services/ImgurService.cs
Labels: Backend

#84 Fix minor redd
  Entities/Like.cs
Labels: Backend

#83 Conform guidelines n conventions
  DbContexts/AppDbContext.cs
  Startup.cs
Labels: Backend

#79 Merged backend with frontend
  ClientApp/package.json
  ClientApp/src/App.js
  ClientApp/src/actions/blogActions.js
  ClientApp/src/components/blogs/AddComment.js
  ClientApp/src/components/blogs/BlogLayout.js
  ClientApp/src/components/blogs/Comment.js
  ClientApp/src/components/blogs/SingleLayout.js
  ClientApp/src/components/navigation/NavbarPanel.js
  ClientApp/src/index.js
  ClientApp/src/pages/Blog.js
  ClientApp/src/pages/Browse.js
  ClientApp/src/pages/Profile.js
  ClientApp/src/reducers/blogsReducer.js
  ClientApp/src/styles/components/addcomment.scss
  ClientApp/src/styles/components/bloglayout.scss
  ClientApp/src/styles/components/browse.scss
Labels: Backend, Frontend, Others
